    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Helvetica Neue", Helvetica, Arial;
        scroll-behavior: smooth;
    }
    
    .navbar {
        background: #303030;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        position: sticky;
        top: 0;
        z-index: 999;
    }
    
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
    }
    
    #navbar_logo {
        background-color: #ff8177;
        background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
    }
    
    .navbar_menu {
        display: flex;
        align-items: center;
        list-style: none;
    }
    
    .navbar_item {
        height: 80px;
    }
    
    .navbar_links {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        text-decoration: none;
        height: 100%;
        transition: all 0.3s ease;
    }
    
    .navbar_links:hover {
        color: #9518fc;
        transition: all 0.3s ease;
    }
    
    @media screen and (max-width:960px) {
        .navbar_container {
            display: flex;
            justify-content: space-between;
            height: 80px;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            padding: 0;
        }
        .navbar_menu {
            display: grid;
            grid-template-columns: auto;
            margin: 0;
            width: 100%;
            position: absolute;
            top: -1000px;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: -1;
        }
        .navbar_menu.active {
            background: #414141;
            top: 100%;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 99;
            height: 60vh;
            font-size: 1.6rem;
        }
        #navbar_logo {
            padding-left: 25px;
        }
        .navbar_toggle .bar {
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            background: #fff;
        }
        .navbar_item {
            width: 100%;
        }
        .navbar_links {
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: table;
        }
        #mobile-menu {
            position: absolute;
            top: 20%;
            right: 5%;
            transform: translate(5%, 20%);
        }
        .navbar_toggle .bar {
            display: block;
            cursor: pointer;
        }
        #mobile-menu.is-active .bar:nth-child(2) {
            opacity: 0;
        }
        #mobile-menu.is-active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        #mobile-menu.is-active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
    
    .hero {
        background: #000000;
        background: linear-gradient(to right, #161616, #000000);
        padding: 200px 0;
    }
    
    .hero_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 90%;
        text-align: center;
        padding: 30px;
    }
    
    .hero_heading {
        font-size: 100px;
        margin-bottom: 24px;
        color: #fff
    }
    
    .main {
        background-color: #131313;
        padding: 10rem 0;
    }
    
    .main_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 90%;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
    }
    
    .main_content {
        color: #fff;
        width: 100%;
    }
    
    .main_content h1 {
        font-size: 2rem;
        background-color: #ff8177;
        background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
    
    .main_content p {
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 700;
    }
    
    .main_btn {
        font-size: 1.8rem;
        background-color: #833ab4;
        background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        padding: 20px 60px;
        border: none;
        border-radius: 4px;
        color: #fff;
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
    }
    
    .main_btn a {
        position: relative;
        z-index: 2;
        color: #fff;
        text-decoration: none;
    }
    
    .main_btn:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #ff1ead;
        transition: all 0.35s;
        border-radius: 4px;
    }
    
    .main_btn:hover {
        color: #fff;
    }
    
    .main_btn:hover:after {
        width: 100%;
    }
    
    .main_img-container {
        text-align: center;
    }
    
    .main_img-card {
        margin: 10px;
        height: 500px;
        width: 500px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    }
    
    .layer1 {
        margin: 100px;
        height: 300px;
        width: 300px;
        justify-content: center;
    }
    
    #card-2 {
        background: #ff512f;
        background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
        background: linear-gradient(to right, #dd2476, #ff512f);
    }
    /*mobile version*/
    
    @media screen and(max-width: 1100px) {
        .main_container {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            height: 90%;
        }
        .main_img-container {
            display: flex;
            justify-content: center;
        }
        .main_img-card {
            height: 425px;
            width: 425px;
        }
        .main_content {
            text-align: center;
            margin-bottom: 4rem;
        }
        .main_content h1 {
            text-align: center;
            margin-bottom: 4rem;
        }
        .main_content h2 {
            text-align: center;
            margin-bottom: 4rem;
        }
        .main_content p {
            text-align: center;
            margin-bottom: 4rem;
        }
    }
    
    @media screen and (max-width: 480px) {
        .main_img-card {
            width: 250px;
            height: 250px
        }
    }
    
    .services {
        background: #131313;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 10rem 0;
        text-decoration: none;
    }
    
    .services h1 {
        background-color: #ff8177;
        background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        margin-bottom: 5rem;
        font-size: 2.5rem;
        text-decoration: none!important;
    }
    
    .services_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        text-decoration: none;
    }
    
    .services_card {
        margin: 10px;
        height: 425px;
        width: 300px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        text-decoration: none;
        background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
        transition: 0.3s ease-in;
    }
    
    .services_card:nth-child(1) {
        background: #f12711;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f5af19, #f12711);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f5af19, #f12711);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .services_card:nth-child(2) {
        background: #1a2a6c;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .services_card:nth-child(3) {
        background: #ad5389;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3c1053, #ad5389);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .services_card:nth-child(4) {
        background: #f953c6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b91d73, #f953c6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .services_card h2 {
        text-align: center;
        text-decoration: none;
    }
    
    .services_card p {
        text-align: center;
        margin-top: 24px;
        font-size: 20px;
        text-decoration: none;
    }
    
    .services_btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        text-decoration: none;
    }
    
    .services_card button {
        color: #fff;
        padding: 14px 24px;
        border: none;
        outline: none;
        border-radius: 40px;
        background: #131313;
        font-size: 1rem;
        text-decoration: none !important;
    }
    
    .services_card button:hover {
        cursor: pointer;
        text-decoration: none;
    }
    
    .services_card:hover {
        transform: scale(1.075);
        transition: 0.3s ease-in;
        cursor: pointer;
        text-decoration: none
    }
    
    @media screen and (max-width:1300px) {
        .services_wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    @media screen and (max-width:768px) {
        .services_wrapper {
            grid-template-columns: 1fr;
        }
    }
    
    .footer_container {
        background-color: #131313;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #footer_logo {
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
    }
    
    .footer_links {
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
    }
    
    .footer_link-wrapper {
        display: flex;
    }
    
    .footer_link-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 16px;
        text-align: left;
        width: 160px;
        box-sizing: border-box;
    }
    
    .footer_link-items h2 {
        margin-bottom: 16px;
        color: #fff;
    }
    
    .footer_link-items a {
        color: #fff;
        text-decoration: none;
        margin-bottom: 0.5rem;
        transition: 0.3 ease-out;
    }
    
    .footer_link-items a:hover {
        color: #fff;
        text-decoration: none;
        margin-bottom: 0.5rem;
        transition: 0.3 ease-out;
    }
    
    .social_icons-link {
        color: #fff;
        font-size: 24px;
    }
    
    .social_media {
        max-width: 1000px;
        width: 100%;
    }
    
    .social_media-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1000px;
        margin: 40px auto 0 auto;
    }
    
    .social_icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 240px;
    }